* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

@import "./components/header";
@import "./components/modern";
@import "./components/creating";
@import "./components/product";
@import "./components/bestsellers";
@import "./components/clients";
@import "./components/newsletter";
@import "./components/footer";

@media (max-width: 768px) {
    .container {
        width: 705px;
    }
}

@media (max-width: 376px) {
    .container {
        width: 343px;
    }
}