%bed {
    color: #0A224A;
    font-family: 'Roboto';
    font-size: 18px;
    font-style: normal;
    line-height: 27px;
}

%furniture {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.19px;
}