$header-white-color: #fff;
$header-dark-grey-color: #333;
$header-white-grey-color: #F7FAFF;
$header-dark-blue-color: #0A224A;
$modern-black-box-shadow: rgba(0, 0, 0, 0.25);
$modern-black-color: black;
$newsletter-grey-color: #D9D9D9;
$newsletter-brown-color: #212121;
$newsletter-light-gray-color: #7A7A7A;
$newsletter-red-color: #ff0000;
$newsletter-orange-color: #ff7300;
$newsletter-yellow-color: #fffb00;
$newsletter-light-green-color: #48ff00;
$newsletter-turquoise-color: #00ffd5;
$newsletter-blue-color: #002bff;
$newsletter-violet-color: #7a00ff;
$newsletter-pink-color: #ff00c8;
$product-light-gray: #e1e1e3;
$client-light-gray-color: rgb(238, 238, 238);
$client-purple-color: #4400b0;
$client-blue-color: #002ed4;
$footer-light-orange-color: rgb(255, 162, 0);
$footer-blue-color: rgb(22, 30, 255);
$footer-pink-color: rgb(255, 65, 96);