@import "../utils/mixins";
@import "../utils/placeholders";
@import "../utils/variable"; 

.clients {
    background: $header-white-grey-color;
    padding: 0 0 60px 0;
    &__content-title {
        color: $header-dark-blue-color;
        font-family: 'Roboto';
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
        padding: 60px 0 30px 0;
        text-align: center;
    }
}
.reviews {
    @include center ($dis-flex:flex, $j-center:center);
    gap: 24px;
}
.dream {
    width: 381px;
    height: 300px;
    flex-shrink: 0;
    border-radius: 8px;
    background-color: $header-white-color;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: bg-color 0.9s linear, transform 0.3s linear;
    &:hover {
        background-color: $client-light-gray-color;
        transform: scale(0.9);
    }
    &:hover::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        background-image: conic-gradient(transparent, transparent, transparent, $client-blue-color);
        animation: rotate 2s linear infinite;
    }
    &:hover:after {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        background-image: conic-gradient(transparent, transparent, transparent, $client-purple-color);
        animation: rotate 2s linear infinite;
        animation-delay: -1s;
    }
    &__content {
        position: absolute;
        inset: 5px;
        z-index: 2;
        border-radius: 8px;
        transition: bg-color 0.9s linear;
        padding: 0 0 0 32px;
        &:hover {
            background-color: $client-light-gray-color;
        }
    }
    &__text {
        color: $header-dark-blue-color;
        font-family: 'Roboto';
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.alexandra {
    @include flex-align ($flex:flex, $items:center);
    gap: 14px;
    padding: 26px 0 20px 0;
    &__title {
        color: $header-dark-blue-color;
        font-family: 'Roboto';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 45px;
        text-transform: uppercase;
    }
    &__subtitle {
        color: $header-dark-blue-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (max-width: 768px) {
    .reviews {
        gap: 16px;
    }
    .dream__bg-emily {
        display: none;
    }
    .dream {
        width: 314px;
        height: 330px;
    }
    .dream__text {
        font-size: 13px;
    }
}

@media (max-width: 376px) {
    .dream__invisible {
        display: none;
    }
    .dream__text {
        font-size: 16px;
    }
    .dream__text {
        font-size: 13px;
    }
}