@import "../utils/mixins";
@import "../utils/placeholders";
@import "../utils/variable";

.footer {
    background: $header-dark-blue-color;
    padding: 48px 10px 36px 10px;
    &__mobile {
        display: none;
    }
}
.rules {
    @include center ($dis-flex:flex, $j-center:center);
    gap: 136px;
    &__content {
        display: flex;
        gap: 70px;
    }
}
.service {
    &__address {
        padding: 15px 0 0 0;
    }
    &__address-daily {
        padding: 24px 0 0 0;
        @extend %furniture;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            transform: scale(1.1) translateX(20px);
            color: $footer-light-orange-color;
        }
    }
    &__address-link {
        @extend %furniture;
        transition: color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
        }
    }
}
.menu {
    &__list {
        display: flex;
        gap: 30px;
    }
    &__item {
        transition: transform 0.3s linear;
        &:hover {
            transform: scale(1.3);
        }
    }
    &__link {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        transition: color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
        }
    }
}
.furniture {
    display: flex;
    gap: 82px;
    padding: 32px 0 0 0;
    &__numbers {
        display: flex;
        flex-direction: column;
    }
    &__numbers-link {
        padding: 0 0 24px 0;
        @extend %furniture;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
            transform: scale(1.1) translateX(20px);
        }
    }
    &__number-link {
        @extend %furniture;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
            transform: scale(1.1) translateX(20px);
        }
    }
    &__email-link {
        @extend %furniture;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
            transform: scale(1.1) translateX(20px);
        }
    }
}
.social {
    display: flex;
    gap: 30px;
    &__face {
        fill: $header-white-color;
        transition: transform 0.3s linear, fill 0.3s linear;
        &:hover {
            transform: scale(1.2);
            fill: $footer-blue-color;
        }
    }
    &__insta {
        fill: $header-white-color;
        transition: transform 0.3s linear, fill 0.3s linear;
        &:hover {
            transform: scale(1.2);
            fill: $footer-pink-color;
        }
    }
    &__youtube {
        fill: $header-white-color;
        transition: transform 0.3s linear, fill 0.3s linear;
        &:hover {
            transform: scale(1.2);
            fill: $newsletter-red-color;
        }
    }
}
.privacy {
    text-align: center;
    opacity: 0.6;
    color: $header-white-color;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1.188px;
    padding: 35px 0 0 0;
    &__link {
        text-decoration-line: underline;
        color: $header-white-color;
    }
}
.obolonsky {
    display: none;
}

@media (max-width: 768px) {
    .footer {
        padding: 48px 30px 36px 30px;
    }
    .rules {
        gap: 50px;
    }
    .rules__content {
        display: none;
    }
    .obolonsky {
        display: flex;
        gap: 80px;
    }
    .using__address {
        padding: 0 0 15px 0;
    }
    .using__address-daily {
        padding: 24px 0 0 0;
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            transform: scale(1.1) translateX(20px);
            color: $footer-light-orange-color;
        }
    }
    .using__address-link {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            transform: scale(1.1) translateX(20px);
            color: $footer-light-orange-color;
        }
    }
    .using__furniture {
        padding: 64px 0 0 0;
    }
    .using__furniture-numbers {
        display: flex;
        flex-direction: column;
        padding: 0 0 24px 0;
    }
    .using__furniture-link {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        transition: transform 0.3s linear, color 0.3s linear;
        padding: 0 0 24px 0;
        &:hover {
            transform: scale(1.1) translateX(20px);
            color: $footer-light-orange-color;
        }
    }
    .using__furniture-links {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            transform: scale(1.1) translateX(20px);
            color: $footer-light-orange-color;
        }
    }
    .using__furniture-email {
        color:$header-white-color;
        font-family: 'Roboto';
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.19px;
    }
    .using__furniture-email-text {
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            transform: scale(1.1) translateX(20px);
            color: $footer-light-orange-color;
        }
    }
    .agree__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .agree__item {
        transition: transform 0.3s linear;
        &:hover {
            transform: scale(1.3);
            color: $footer-light-orange-color;
        }
    }
    .agree__link {
        color:$header-white-color;
        font-family: 'Roboto';
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        transition: color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
        }
    }
}

@media (max-width: 376px) {
    .footer {
        padding: 48px 16px 36px 16px;
    }
    .footer__content {
        display: none;
    }
    .footer__mobile {
        display: flex;
        flex-direction: column;
    }
    .footer__mobile-content {
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .prospect__menu-list {
        padding: 42px 0 36px 0;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .prospect__menu-item {
        transition: transform 0.3s linear;
        &:hover {
            transform: scale(1.3) translateX(30px);
        }
    }
    .prospect__menu-link {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        transition: color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
        }
    }
    .prospect__address {
        padding: 0 0 35px 0;
    }
    .prospect__address-kyiv {
        padding: 0 0 8px 0;
        transition: color 0.3s linear, transform 0.3s linear;
        &:hover {
            transform: scale(1.2) translateX(20px);
        }
    }
    .prospect__address-link {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
        transition: color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
        }
    }
    .prospect__address-daily {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
        transition: color 0.3s linear, transform 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
            transform: scale(1.2) translateX(20px);
        }
    }
    .prospect__numbers {
        display: flex;
        flex-direction: column;
    }
    .prospect__numbers-link {
        padding: 0 0 8px 0;
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
            transform: scale(1.2) translateX(20px);
        }
    }
    .prospect__numbers-phone {
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.16px;
        transition: transform 0.3s linear, color 0.3s linear;
        &:hover {
            color: $footer-light-orange-color;
            transform: scale(1.2) translateX(20px);
        }
    }
    .social__networks {
        display: flex;
        gap: 16px;
    }
    .social__networks-face {
        fill: $header-white-color;
        transition: transform 0.3s linear, fill 0.3s linear;
        &:hover {
            transform: scale(1.4) translateY(-5px);
            fill: $footer-blue-color;
        }
    }
    .social__networks-insta {
        fill: $header-white-color;
        transition: transform 0.3s linear, fill 0.3s linear;
        &:hover {
            transform: scale(1.4) translateY(-5px);
            fill: $footer-pink-color;
        }
    }
    .social__networks-youtube {
        fill: $header-white-color;
        transition: transform 0.3s linear, fill 0.3s linear;
        &:hover {
            transform: scale(1.4) translateY(-5px);
            fill: $newsletter-red-color;
        }
    }
    .policy {
        text-align: center;
        padding: 64px 0 0 0;
        color: $header-white-color;
        font-family: 'Roboto';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 1.188px;
        opacity: 0.6;
    }
    .policy__link {
        text-decoration-line: underline;
        color: $header-white-color;
    }
}